.main{
  background-color: black;
}
.test{
  display: none;
}
.slick-initialized{
  .test{
    display:block;;
  }
}
.c3-event-rects-multiple{
  cursor: pointer;
}
ion-content{
  background-color: white;
}
form {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle,
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  fill-opacity: .2;
  cursor: move;
}

.selected {
  fill: #ff7f0e;
  color: #008BCA
  stroke: #ff7f0e;
}
